@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}

:root{
    --primary-color: #0B7C6B;
    --primary-color-bright: #025d4f;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Hanken Grotesk;
}

h1{
    font-size: 50px;
}

.container{
    width:90%;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content:space-between;
}

.align-center{
    align-items: center;
}

.text-primary{color: var(--primary-color);}

.button-primary{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color-bright);
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    font-family: Chivo Mono;
    font-size: 1rem;
    border-radius: 5px;
}

.button-primary:hover{
    background-color: #222;
    cursor: pointer;
}