.noti-item{
    display: flex;
    padding: 2rem;
    margin: 5rem 0;
    border: 1px solid #555;
    border-radius: 7px;
}

.noti-item-content-container{
    padding-left: 2rem;
    padding-top:10px;
}

.noti-item-content-container p{
    padding-top: 5px;
}

.noti-item-price{
    padding-top: 2rem;
    color: var(--primary-color-bright);
}

.delete_btn{
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor:pointer;
    transition: 0.3s ease;
}

.delete_btn:hover{
    background-color: #555;
}