.detail-section-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 10rem;

}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.book-img-container, .book-detail-container{
    width: 50%;
}

.book-img-container{
    text-align: center;
}
.book-img-container img{
    height: 400px;
    border: 1px solid #ddd;
}

.book-detail-container h2{
    font-size: 2rem;
}

.book-detail-container p{
    padding: 0.5rem 0;
}

.book-description{
    line-height: 1.5rem;
}

.book-detail-container h3{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: var(--primary-color-bright);
}

.see-more-link{
    font-size: 14px;
    font-weight: 500;
}

.see-more-link:hover{
    cursor: pointer;
    font-style: italic;
}

.sub-product-container-dt{
    margin-top: 70px;
    margin-left: 150px;
}

.sub-product-container-dt .book-cate{
    display:flex;
    justify-content: space-between;
    align-items:first baseline;
}

.sub-product-container-dt .product-link{
    font-size: 17px;
    text-decoration: underline;
    color: #000;
    margin-right: 5px;
}

.sub-product-container-dt .see-all{
    display: flex;
}

.sub-product-container-dt h2{
    font-size: 30px;
    font-weight: 200px;
}

.sub-product-container-dt .sub-product-container{
    padding-top: 100px;
}
