.product-listing-all-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 100px;
    padding-right: 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
}

.grid-item{
    display: flex;
    justify-content: center;
}