.search-result-container{
    margin-top: 5rem;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid var(--primary-color-bright);
    border-radius: 5px;
    background-color: #CCFFFF;
    color: var(--primary-color-bright);
}

.recommend-container{
    margin-bottom: 5rem;
}
