.navbar-container{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 1rem 0;
    background-color: #333;
}

.logo{
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: #ffffff;
    font-family: Sora;
    font-weight: 700;
}

.logo span{
    font-family: Sora;
}

.nav-links-container{
    display: flex;
    align-items: center;

}

.cart-link{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-links, .nav-links-dark{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 20px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.nav-links-dark{
    color: #333;
}

.nav-links:hover{
    color: var(--primary-color);
}

.nav-links-dark:hover{
    color: var(--primary-color);
}

.background-dark{
    background-color: #333;
}

.background-transparent{
    background-color: transparent;
}

.relative{
    position: relative !important;
}

.icon-count{
    color:#fff;
    background-color: red;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    font-style: none !important;
    margin-left: -7px;
}

.nav-links-container a{
    text-decoration: none;
}

