

.footer-container{
    background-color: #000;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.footer-content{
    display: grid;
    padding-right: 10rem;
    color:#fff;
}

.footer-content h3{
    font-family: Sora;
    padding-bottom: 1rem;
}

.footer-content p{
    font-family: Sora;
    padding-bottom: 2px;
    font-size: 16px;
}

.footer-content a{
    color: #fff;
    padding-bottom: 2px;
    font-size: 16px;
    font-family: Sora;
}

.footer-content a:hover{
    color: var(--primary-color-bright);
    cursor: pointer;
}


