.cart-item{
    display: flex;
    padding: 2rem;
    margin: 3rem 0;
    border: 1px solid #555;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
}

.img-content-cart{
    display: flex;
    align-items: center;
    width: 600px;
}

.cart-item-img{
    width: 7rem;
}

.cart-item-content-container{
    padding-left: 2rem;
}

.cart-item-content-container p{
    padding-top: 5px;
}

.cart-item-price{
    padding-top: 1rem;
    color: var(--primary-color-bright);
    text-shadow: 2px 3px 5px #999;
}

.cart-item-quantity{
    display:flex;
    align-items: center;
}

.quantity-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quantity{
    margin-left: 10px;
    margin-right: 10px;
}

.delete_btn{
    background-color: var(--primary-color-bright);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor:pointer;
    transition: 0.3s ease;
}

.delete_btn:hover{
    background-color: #000;
}