.form-content {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    padding-bottom: 1rem;

}


input[type="text"],
input[type="password"],
textarea {
  font-family: Chivo Mono;
  font-size: 16px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.sign-up-btn{
    border: 1 solid #ccc;
    color:#fff;
    background-color: var(--primary-color);
    height: 3rem;
    border-radius: 10px;
    font-size: 16px;
}

.sign-up-btn:hover{
    background-color: black;
    cursor: pointer;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: 5px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

a, a:visited {
    color: #000;
}