.search-container{
    width: 40%;
    margin: auto;
    padding-top: 5%;
}

.search-container h2{
    text-align: center;
    padding-bottom: 10px;
}

.book-container{
    display: flex;
    padding-left: 110px;
    padding-right: 100px;
}