.product-listing-container{
    margin-bottom: 10%;
}

.listing-container{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.book-cate{
    display:flex;
    justify-content: space-between;
    align-items:first baseline;
}

.product-link{
    font-size: 17px;
    text-decoration: underline;
    color: #000;
    margin-right: 5px;
}

.see-all{
    display: flex;
}

h2{
    font-size: 30px;
    font-weight: 200px;
}

.sub-product-container{
    padding-top: 100px;
}