.product-listing-container{
    margin-bottom: 5%;
}

.listing-container{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.product-link{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-product-container{
    padding-top: 100px;
}