.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content-wrapper{
    padding-left: 3rem;
    padding-right: 3rem;
}

.login-img-container{
    width: 50%;
    overflow: hidden;
}

.login-img-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.login-content-container{
    width: 50%;
    padding: 30px;
}

.form-group{
    padding: 1rem 0;
}

.form-label{
    display:inline-block;
    color: var(--white-color);
    padding-bottom: 10px;
}

.form-input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

.content-wrapper h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}

